<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="/clients/<%= @client.id() %>/edit">Edit Client
                <%= @client.name() %></a>
        </li>
        <li role="presentation" class="active">
            <a href="/">Return to Main Page</a>
        </li>
    </ul>
</div>
<br/><br/>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Current Stylists for this client
        </div>
        <div class="panel-body">
            Client Name:
            <%= @client.name() %>

            <% if @client.stylists().any?() %>

            <ul>
                <% @client.stylists().each() do |stylist| %>
                <li><%= stylist.name()%></li>
                <% end %>
            </ul>

        <% else %>
            <p>There are no salons for this client</p>
            <% end %>
        </div>
    </div>