<div class="container text-center">
  <h2> Current salons for this client </h2>
  <h3> Client Name: <%= @client.name() %></h3>

    <% if @client.stylists().any?() %>

     <ul>
       <% @client.stylists().each() do |stylist| %>
         <li><%= stylist.name()%></li>
       <% end %>
     </ul>

     <% else %>
       <p>There are no salons for this client</p>
    <% end %>


 <div class="container text-center">
   <button class="btn"><a href="/clients/<%= @client.id() %>/edit">Edit Client <%= @client.name() %></a></button>
   <button class="btn"><a href="/">Return to Main Page</a></button>
 </div>
