<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon APP</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/styles.css'>

    </head>
    <body>
        <div>
            <%= yield %>
        </div>
    </body>
</html>