<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="/">Home</a>
        </li>
        <li role="presentation">
            <a href="/">Return to Main Page</a>
        </li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">

        <h2></h2>Here are all the clients in
        <%= @stylist.name() %>'s list:
    </div>
</h2 <% if @stylist.clients().any?() %>

<ul>
    <% @stylist.clients().each() do |client| %>
    <li>
        <a href="/clients/<%= client.id() %>"><%= client.name()  %></a>
    </li>
    <% end %>
</ul>

<% else %>
<p>There are no clients in this Stylist's list!</p>
<% end %>
</div>

<hr>

<!-- <ul class="nav nav-tabs nav-justified">
<div class="container">
  <a href="/">Home</a>
</div>

<div class="container">
  <p> <a href="/">Return to Main Page
      </a>
  </p>
</div>
</ul> -->